<div class="post-content">
  <div class="post-info">
    <p>
      <strong><%= link_to post.user.full_name, profile_path(post.user), class: "no-decoration" %></strong> 
      • 
      <%= time_ago_in_words(post.created_at) %> ago
    </p>
    <p><%= post.content %></p>
  </div>

  <%= link_to 'View Post', post_path(post), class: "view-post-link" %>

  <div class="resources-post">
    <% if post.user.id == current_user.id %> 
      <div class="delete-btn">
        <%= button_to 'Delete', post_path(post), method: :delete, 
                      data: { turbo: "false", confirm: "Delete this post?" } %>
      </div>
    <% end %>

    <%= render partial: 'likes/like_section', locals: { post: post } %>

    <p><%= post.comments.count %> <%= post.comments.count == 1 ? 'comment' : 'comments' %></p>
  </div>
</div>
